/* 브라우저 기본 스타일 초기화 css 파일 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
