/* 메인 섹션 레이아웃 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/* filter 섹션 CSS 스타일링 */

.filter {
  width: 80vw;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-section);
}

/* filter 섹션 그리드 제어 */

.filter__grid {
  display: grid;
  grid-template-rows: auto;
  margin-top: 1.5rem;
  gap: 1rem;
}

.filter__first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.filter__second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.filter__item {
  display: grid;
  grid-template-columns: 4rem 1fr;
  align-items: center;
}

.filter__btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  gap: 1rem;
}

/* 그리드 제외 기타 요소 스타일링 */

.filter__btn button {
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  background-color: var(--color-main);
  color: var(--color-white);
}

.filter__btn button:hover {
  background-color: var(--color-btn-hover);
}

.filter_label {
  font-size: 0.8rem;
  font-weight: 600;
}

.filter h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.filter__grid input,
.filter__grid select {
  height: 2.2rem;
  padding: 0 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.5s ease;
}

.filter__grid input:focus,
.filter__grid select:focus {
  border-color: var(--color-main);
}

.filter__no-results {
  text-align: center;
  padding: 2rem;
  font-weight: 500;
}

@media (max-width: 965px) {
  .filter__first {
    grid-template-columns: 1fr;
  }

  .filter__second {
    grid-template-columns: 1fr;
  }
}
