header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 5rem;
  background-color: var(--color-bg-primary);
  color: var(--color-text-white);
}

header div {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.header__text p {
  font-size: 0.8rem;
}
