@import url("./reset.css");
@import url("./header.css");
@import url("./filter.css");
@import url("./table.css");
@import url("./modal.css");

:root {
  --color-bg-primary: #008080;
  --color-bg-secondary: #b2dfdb;
  --color-text-white: #fffef5;
}

body {
  background-color: azure;
  font-family: "Noto Sans KR", sans-serif;
}
