.member_list {
  min-width: 80%;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: white;
}

.member_list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.member_list__header h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.member_list__btnGroup {
  display: flex;
  gap: 0.5rem;
}

.member_list__btnGroup button {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg-primary);
  color: white;
}

.member_list__btnGroup button:hover {
  background-color: var(--color-bg-secondary);
  color: var(--color-bg-primary);
}

.member_list__table {
  width: 100%;
}

.member_list__table thead {
  background-color: var(--color-bg-secondary);
}

.table_row {
  border-bottom: 1px solid #e0e0e0;
}

.table_row th,
.table_row td {
  padding: 0.8rem 0;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: left;
}

.table_row td {
  font-weight: 500;
}

.table_row input {
  margin-left: 1rem;
}

.table_row a {
  font-weight: 600;
  color: var(--color-bg-primary);
}

.table_row a:hover {
  font-weight: 700;
  color: var(--color-bg-secondary);
}
