/* Header CSS style */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0 1.5rem;
  background-color: rgba(245, 245, 245, 0.5);
  z-index: 10;
}

header div,
header nav {
  flex: 1;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.header_name {
  text-align: center;
}

.header_name h1 {
  font-size: 1.2rem;
}

.header_name span {
  font-size: 1rem;
  color: gray;
}

.header_social-icon {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.header_social-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #008080;
}

.header_social-icon i {
  color: white;
  font-size: 1.2rem;
}

.header_social-icon img {
  height: 1.2rem;
}

/* nav와 본문이 들어갈 부분 그리드 구조 스타일링 */

.main-section {
  display: grid;
  grid-template-columns: 17rem 1fr;
}

.side-nav {
  height: 100vh;
  margin-top: 4.5rem;
  background-color: #f4f4f4;
}

main {
  margin-top: 4.5rem;
}

/* Hero Section CSS Style */

.main_hero-section {
  display: flex;
  align-items: center;
  height: 18rem;
  padding-left: 3rem;
  background-color: #efefef;
}

.main_hero-section img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.main_hero-section div {
  height: 9rem;
  margin-left: 2rem;
}

.main_hero-section h1 {
  font-size: 2rem;
  line-height: 4rem;
}

.main_hero-section button {
  margin-top: 1.2rem;
  margin-right: 0.5rem;
  padding: 0.7rem 1.5rem;
  border-radius: 1.2rem;
  border: none;
  font-size: 1rem;
  color: white;
}

.main_hero-section button:nth-of-type(1) {
  background-color: #20b2aa;
}

.main_hero-section button:nth-of-type(2) {
  background-color: #ff7f50;
}

/* Skills & interest CSS style */

.main__skills-interest {
  min-height: 12rem;
  background-color: rgba(162, 196, 196, 0.3);
}

.main__skills-interest h3 {
  padding: 1rem 0 0 1.5rem;
  font-size: 1.5rem;
}

.main__skills-interest ul {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0 0 1.5rem;
}

.main__skills-interest li {
  margin: 0 1rem 1rem 0;
  padding: 0.5rem 1.2rem;
  border-radius: 1.2rem;
  color: aliceblue;
  background-color: #008080;
}
