/* Header CSS style */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0 1.5rem;
  background-color: rgba(245, 245, 245, 0.5);
  z-index: 10;
}

header div,
header nav {
  flex: 1;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.header_name {
  text-align: center;
}

.header_name h1 {
  font-size: 1.2rem;
}

.header_name span {
  font-size: 1rem;
  color: gray;
}

.header_social-icon {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.header_social-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #008080;
}

.header_social-icon i {
  color: white;
  font-size: 1.2rem;
}

.header_social-icon img {
  height: 1.2rem;
}
