/* Header CSS style */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0 1.5rem;
  background-color: rgb(245, 245, 245);
  z-index: 10;
}

header div,
header nav {
  flex: 1;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.header_name {
  text-align: center;
}

.header_name h1 {
  font-size: 1.2rem;
}

.header_name span {
  font-size: 1rem;
  color: gray;
}

.header_social-icon {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.header_social-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #008080;
}

.header_social-icon i {
  color: white;
  font-size: 1.2rem;
}

.header_social-icon a:hover {
  border: 1px solid #008080;
  background-color: whitesmoke;
}

.header_social-icon a:hover i {
  color: #008080;
}

.header_social-icon img {
  height: 1.2rem;
}

/* nav와 본문이 들어갈 부분 그리드 구조 스타일링 */

.main-section {
  display: grid;
  grid-template-columns: 17rem 1fr;
}

.side-nav {
  background-color: #f4f4f4;
}

main {
  overflow: hidden;
}

/* Hero Section CSS Style */

.main__hero-section {
  display: flex;
  align-items: flex-end;
  min-height: 21rem;
  padding-left: 3rem;
  background-color: #efefef;
}

.main__hero-section img {
  width: 12rem;
  height: 12rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.main__hero-section img:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.main__hero-section div {
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.main__hero-section h1 {
  font-size: 2rem;
  line-height: 4rem;
}

.main__hero-section button {
  margin-top: 1.2rem;
  margin-right: 0.5rem;
  padding: 0.7rem 1.5rem;
  border-radius: 1.2rem;
  border: none;
  font-size: 1rem;
  color: white;
  transition: all 0.3s ease;
}

.main__hero-section button:hover {
  transform: translateY(-0.3rem) scale(1.05);
}

.main__hero-section button:nth-of-type(1) {
  background-color: #20b2aa;
}

.main__hero-section button:nth-of-type(2) {
  background-color: #ff7f50;
}

/* Skills & interest CSS style */

.main__skills-interest {
  background-color: rgba(162, 196, 196, 0.3);
}

.main__skills-interest h3 {
  padding: 1rem 0 0 1.5rem;
  font-size: 1.5rem;
}

.main__skills-interest ul {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1.5rem;
  gap: 1rem;
}

.main__skills-interest li {
  padding: 0.5rem 1.2rem;
  border-radius: 1.2rem;
  color: aliceblue;
  background-color: #008080;
}

/* Card Section CSS style */

.main__card-section {
  background-color: rgba(162, 196, 196, 0.7);
}

.main__card-section h1 {
  padding: 2rem 0 0 2rem;
  font-size: 1.5rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  margin: 1.5rem 0 0 2rem;
  padding: 0 2rem 1.5rem 0;
  gap: 2rem;
}

.card {
  overflow: hidden;
  padding-bottom: 2rem;
  border-radius: 2rem;
  background-color: white;
  transition: all 0.5s ease;
}

.card:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.card__title-like {
  display: flex;
  position: relative;
}

.card__title-like h3 {
  padding-left: 0.8rem;
  padding-top: 0.7rem;
  font-size: 1.2rem;
}

.card p {
  padding: 0 1rem 0 1rem;
  margin-top: 2rem;
  color: gray;
}

.card__title-like a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #efefef;
  transition: all 0.3s ease;
}

.card i {
  font-size: 1rem;
  color: gray;
  transition: all 0.3s ease;
}

.card__title-like a:hover {
  background-color: pink;
}

.card__title-like a:hover i {
  color: hotpink;
}

/* 사진 리스트 CSS style */

.main__picture {
  padding: 2rem;
  background-color: #f0f8ff;
}

.main__picture h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.picture-list {
  display: flex;
  padding: 1rem;
  overflow: hidden;
}

.picture-group {
  display: flex;
  gap: 1.5rem;
  padding-right: 1.5rem;
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.picture-list:hover .picture-group {
  animation-play-state: paused;
}

.picture-list img {
  width: 16rem;
  height: 10rem;
  border-radius: 1rem;
  aspect-ratio: 16/10;
  object-fit: cover;
  transition: all 0.3s ease;
}

.picture-list img:hover {
  transform: scale(1.1);
}

/* Side Nav CSS style */

.side-nav {
  display: flex;
  justify-content: center;
}

.side-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: sticky;
  top: 18rem;
  width: 14rem;
  height: 18rem;
  border-radius: 1rem;
  background-color: white;
}

.side-nav li {
  width: 10rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.side-nav li:hover {
  border-radius: 1rem;
  background-color: #008080;
}

.side-nav li:first-child:hover {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.side-nav li:last-child:hover {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.side-nav a {
  color: gray;
}

.side-nav li:hover a {
  color: white;
}

#hero-section,
#skills-interest,
#card-section,
#picture,
#footer {
  scroll-margin-top: 4.5rem;
}

/* Footer CSS style */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: rgba(162, 196, 196, 1);
}

footer h4 {
  font-size: 1rem;
  font-weight: 500;
  color: whitesmoke;
}
